// @import "variables.scss";

@font-face {
      font-family: 'Clear Sans';
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Bold.eot');
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Bold.woff') format('woff'),
       url('../../assets/fonts/Clear Sans/ClearSans-Bold.ttf')  format('truetype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Bold.svg#ClearSans-Bold') format('svg');
	font-weight: bolder;
	font-style: normal;
}

@font-face {
  	font-family: 'Clear Sans';
  	src: url('../../assets/fonts/Clear Sans/ClearSans-BoldItalic.eot');
  	src: url('../../assets/fonts/Clear Sans/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Clear Sans/ClearSans-BoldItalic.woff') format('woff'),
       url('../../assets/fonts/Clear Sans/ClearSans-BoldItalic.ttf')  format('truetype'),
       url('../../assets/fonts/Clear Sans/ClearSans-BoldItalic.svg#ClearSans-BoldItalic') format('svg');
	font-weight: bolder;
	font-style: italic;
}

@font-face {
  	font-family: 'Clear Sans';
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Italic.eot');
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Italic.woff') format('woff'),
       url('../../assets/fonts/Clear Sans/ClearSans-Italic.ttf')  format('truetype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Italic.svg#ClearSans-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
  	font-family: 'Clear Sans';
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Light.eot');
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Light.woff') format('woff'),
       url('../../assets/fonts/Clear Sans/ClearSans-Light.ttf')  format('truetype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Light.svg#ClearSans-Light') format('svg');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
  	font-family: 'Clear Sans';
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Medium.eot');
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Medium.woff') format('woff'),
       url('../../assets/fonts/Clear Sans/ClearSans-Medium.ttf')  format('truetype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Medium.svg#ClearSans-Medium') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  	font-family: 'Clear Sans';
  	src: url('../../assets/fonts/Clear Sans/ClearSans-MediumItalic.eot');
  	src: url('../../assets/fonts/Clear Sans/ClearSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Clear Sans/ClearSans-MediumItalic.woff') format('woff'),
       url('../../assets/fonts/Clear Sans/ClearSans-MediumItalic.ttf')  format('truetype'),
       url('../../assets/fonts/Clear Sans/ClearSans-MediumItalic.svg#ClearSans-MediumItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
  	font-family: 'Clear Sans';
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Regular.eot');
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Regular.woff') format('woff'),
       url('../../assets/fonts/Clear Sans/ClearSans-Regular.ttf')  format('truetype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Regular.svg#ClearSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  	font-family: 'Clear Sans';
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Thin.eot');
  	src: url('../../assets/fonts/Clear Sans/ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Thin.woff') format('woff'),
       url('../../assets/fonts/Clear Sans/ClearSans-Thin.ttf')  format('truetype'),
       url('../../assets/fonts/Clear Sans/ClearSans-Thin.svg#ClearSans-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

html {
    overflow-x: hidden;
}

body {
	background: $grey-5;
	color: $grey-100;
	font-family: 'Clear Sans';
	font-weight: normal;
	font-style: normal;
    overflow-x: hidden;
    font-size: $small;
}

input, select, textarea {
	box-shadow: none!important;
	outline: none!important;
}

button {
	outline: none!important;
	box-shadow: none!important;
}

label {
	margin-bottom: 0;
}

h6 {
    font-weight: bold;
    font-size: $small;

    @media #{$mobile} {
		font-size: $small;
	}
}

h5 {
    font-weight: bold;
    font-size: $medium;

    @media #{$mobile} {
		font-size: $small;
	}
}

h4 {
    font-weight: bold;
    font-size: $large;

    @media #{$mobile} {
		font-size: $medium;
	}
}

h3 {	
    font-weight: bold;
    font-size: $x-large;

    @media #{$mobile} {
		font-size: $medium;
	}
}

h2 {  
    font-weight: bold;
    font-size: $xx-large;

    @media #{$mobile} {
		font-size: $large;
	}
}

h1 {
    font-weight: bold;
    font-size: $xxx-large;

    @media #{$mobile} {
		font-size: $x-large;
	}
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 12px;
}

a {
    color: $blue-medium;
    outline: none;
    &:hover {
        text-decoration: none;
        color: $blue-dark;
    }

    &.disabled {
        color: $grey-60;
        cursor: not-allowed;
        &:hover {
            color: $grey-60;
        }
    }
}
ul {
    li {
        list-style: none;
    }
}
img {
    max-width: 100%;
}

b {
    font-weight: bold;
}

/* MDC SETTINGS */
.mdc-button--stroked {
	border-width: 1px;
}

/* Redactor */
.redactor-box {
	margin-bottom: 0;
	.redactor-editor {
		ul {
			li {
				list-style-type: initial;
			}
		}
	}

	textarea {
		background: #111 !important;
		color: $primary-light !important;
		width: 100% !important;
	}
}
#redactor-modal {
	form {
		border: none; 
	}
}

/* JQUERY SCROLLBAR SETTINGS */

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
    height: 100%;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}


/* TOOLTIP STYLE SETTINGS */
.tooltip {
    .tooltip-inner {
        font-size: $xx-small;
        background: $grey-100;
    }

    &.bs-tooltip-top .arrow::before, &.bs-tooltip-auto[x-placement^="top"] .arrow::before {
        border-top-color: $grey-100;
    }

    &.bs-tooltip-bottom .arrow::before, &.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
        border-bottom-color: $grey-100;
    }

    &.bs-tooltip-left .arrow::before, &.bs-tooltip-auto[x-placement^="left"] .arrow::before {
        border-bottom-color: $grey-100;
    }

    &.bs-tooltip-right .arrow::before, &.bs-tooltip-auto[x-placement^="right"] .arrow::before {
        border-right-color: $grey-100;
    }
}

/* DEFAULT DROPDOWN MENU STYLES */

.dropdown-menu {
    font-size: $small;

    .dropdown-item {
        padding: 6px 16px;

        &:hover {
            background: $secondary-medium;
            color: $white;
        }
    }
}


/* DEFAULT MODAL SETTINGS */
.modal {
    .modal-content {
        border: none;
    }
}

/* SELECT2 SETTINGS */
.select2-container {
    min-width: 100%;
}

/* Chart */

.ct-label.ct-vertical.ct-start {
    white-space: nowrap;
}

.swal2-content {
    display: none !important;
}

.sowal2-ppup {
    .swal2-title {
        color: $grey-100 !important;
        
        small {
            margin-top: 10px;
            display: block;
            font-size: $medium;
        }
    }
}

.sweet-alert {
    padding: 30px;

    .sa-button-container {
        padding-top: 30px;    
    }

    h2 {
        margin: 0;
        margin-bottom: 15px;
        color: $grey-100 !important;
        font-weight: bold;
        font-size: $xx-large;
    }
    
    p {
        color: $grey-100 !important;
        font-size: $small;
    }

    button {
        font-size: $small;
        
        &.cancel {
            background: none;
            color: $secondary-medium;

            &:hover, &:focus {
                background: $grey-10;
                color: $secondary-medium;
                box-shadow: none !important;
            }

            &:active {
                background: $secondary-light;
                color: $secondary-medium;
                box-shadow: none !important;
            }
        }

        &.confirm {
            background: $primary-medium !important;
            color: $white;

            &:hover, &:focus {
                background: $primary-dark !important;
                color: $white;
            }

            &:active {
                background: $primary-darker !important;
                color: $white;
            }
        }
    }
}

.customer-card {
    display: flex;
    align-items: center;

    .image {
        color: $grey-60;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-size: 50px;
    }
}

.caboodle-bubble {
    background: $grey-10;
    border-radius: 6px;
    padding: 15px;
    position: relative;
    margin-top: 10px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 0;
        left: -10px;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent $grey-10;
        display: block;
        width: 0;
        z-index: 1;
    }
}